.menuAlbuns {
    width: 100px;
    text-decoration: none;
    padding: 8px;
    /* border: 1px solid black; */
    /* border-radius: 50px; */
    background-color: white;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    user-select: none;
    text-transform: uppercase;
}

.menuAlbuns:hover {
    transform: scale(1.1) translateY(-3px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    background-color: #f0f0f0;
}
.menuAlbunsArea{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    
    /* border-bottom: 5px solid gray; */
    gap: 10px;
}
.menuAlbunsArea h1{
    color: white;
    font-size: 25px;
}
.contentIndexAlb{
    display: grid;
    grid-template-rows:
    'auto' 'auto' 'auto';
    margin: 0 auto;
}
.siteBoxAlb{
    background-color: #9E9E9E;
    background-color: rgba(0,0,0,0.2);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 40px;
    width: 55%;
    /* display: grid;
    grid-template-columns: auto auto auto; 
    gap: 10px; 
    margin: 0 auto */
}
.coringaA{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
/* #sptAreaAlb{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.wikiAlbum{
    padding: 10px;
    
    /* border-bottom: 5px solid gray; */
    gap: 10px;
    margin-left: 10px;
}
.wikiAlbum img{
    width: 200px;
}
.wikiAlbum h1{
    color: white;
    font-size: 20;
}
.balelaAlbum{
    padding: 10px;
    border-left: 5px solid white;
    border-right: 5px solid white;
    color: white;
    text-align: center;
   
}
.balelaAlbum h1{
    font-size: 20px;
}